* {
    box-sizing: border-box;
    
}

/* h2{
    text-align: center;
    font-weight: 600;
}
div h3{
    background-color: chartreuse;
}
div ul{ 
    background-color: aqua;
} */



/* sales page
*/


body #salesHeader{
   background-color: chocolate;
   height: 100px;
   margin-bottom: 20px;
}

body #salesHeader a:hover{
    font-weight: 900;
    color: rgb(88, 245, 88) ;
    
    

}
body #salesHeader a:link{
    font-weight: 900;
    color: darkblue;
    text-decoration: none;
    padding-left: 20px;
    

}
body #salesHeader img{
    float: right;
    height: 100%;
    position: relative;
    bottom: 60px
}
#storesForm fieldset{
    background-color: rgba(199, 202, 202, 0.541);
    width: 100%;
}

#storesForm fieldset #avgCookie{
    margin-top: 5px;
}
#one{
    padding-top: 20px;
}
#one table{
    background: rgb(133, 207, 59);
    position: relative;
    left: 270px; 
    
}
   
table, th,tr,td{
    border:solid 1px black;
    border-collapse: collapse;
    color: rgb(129, 60, 11);
    background-color: rgb(186, 164, 209);
    font-weight: bold;
    text-align: center;
   
   
}





/* index.html page */

body{
    background-color: rgba(247, 251, 252, 0.767);
}
header{
    background-color: rgb(233, 85, 114);
    height: 70px;
}
header h2{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: rgb(68, 0, 156);
}

header nav{
    float: right;
}

header nav ul li {
    display: inline-block;
    padding-right:  20px; ;
}

header nav ul li a:link{
    font-weight: 900;
    color: darkblue;
    text-decoration: none;
    padding-left: 20px;
}
header nav ul li a:hover{
    text-decoration: none;
    font-weight: 900;
    color: rgb(88, 245, 88) ;
    
}

main img{
    padding-top: 10px;
   position: relative;
   left: 350px;
}

 #intro{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 20px;

}
main p{
    font-size: 15px;
    padding-left: 10px;
}
#family{
    position: relative;
    right: 50px;
}

h3{
    font-size: 20px;
    font-weight: 900;
}
ul{
    padding-top: 4px;
   
}
ul li{
    padding-left: 10px;
    padding-top: 4px;
    
}

main div h3{
    padding-top: 20px;
    
}

#images{
    margin-left: -100px;
}

#images img{
    align-items: center;
    padding-right: 20px;
   
    
}

#last p{
    font-size: 15px;
    padding-top: 30px;
}

#last #first{
    padding-right: 200px;
}

footer{
    background-color: rgb(233, 85, 114);
    text-align: center;
 
}
