* {
    box-sizing: border-box;
    
}

/* index.html page */

#home{
    background-color: rgba(230, 167, 215, 0.993);
}
header{
   background-color: rgb(158, 116, 197);
   height: 70px;
   padding-top: 10px;
   position: fixed;
   width: 100%;
   z-index: 3;
}
header h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: rgb(100, 209, 73);
    font-family: 'Open Sans', sans-serif;
    
}

header nav{
    float: right;
}

header nav ul li {
    display: inline-block;
    padding-right:  40px; ;
    font-size: 20px;
    font-style: oblique;
    

}

header nav ul li a{
    font-weight: 900;
    text-decoration: none;
    padding-left: 20px;
    color: rgb(0, 255, 106);
    position: relative;
    top: -20px;
}
header nav ul li a:hover{
    text-decoration: none;
    font-weight: 900;
    color: rgb(226, 17, 17) ;
    
}

header img{
    float: left;
    height: 100%;
    position: relative;
    left: 20px;
    top: -40px;
}

main h3{
    font-size: 20px;
    font-weight: 900;
    position: relative;
    top: 100px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    left: 545px;
    border-style: solid;
    border-width: 2px;
    /* display: inline; */
    padding: 2px;
     background-color:  rgb(145, 228, 124);
    color: rgb(110, 39, 177);
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
}

main ul{
    padding-top: 10px;
    border-color: green;
    border-style: solid border;
   
}
main ul li{
    position: relative; 
    top: 100px;
    left: 100px;
    border-color: green;
    border-style: solid;
     height: 100px;
    display: inline-block   ;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-style: solid;
    border-width: 2px;
    /* display: inline; */
    padding: 2px;
    color: rgb(0, 255, 106);
    background-color: rgb(191, 138, 240);
    text-align: center  ;
    margin-left: 30px;
   
    
}



#family{
    position: relative;
    left: 330px;
    top: 120px;
    width: 600px;
}
 #intro{
    font-size: 25px;
    font-weight: 700;
    position: relative;
    left: 20px;
    top: 150px;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

main p{
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    left: 20px;
    top: 160px;
    display: inline;
}



#images{
    margin-left: 250px;
    margin-top: 190px;

}

#images img{
    align-items: center;
    padding-right: 200px;
   
    
}

#last{
    margin-left: 200px;
    margin-top: 40px;;
}
#last #first{
    padding-right: 200px;
}

footer{
    background-color: rgb(158, 116, 197);
    height: 100px;
    margin-top: 20px ;

 
}
footer img{
    float: right;
    height: 100%;
    padding-right: 10px;
}
footer p{
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    float: left;
    height: 100%;
    padding-top: 20px;
    padding-left: 30px;
    color: rgb(100, 209, 73);
}
